<!DOCTYPE html>
<html lang="en">
	{{> partials/icon}}
    <body class="profile-page sidebar-collapse">
        {{> profile/navbar}}
        <div class="wrapper">
            {{> profile/header}}
            {{> profile/main}}
            {{> partials/footer}}
        </div>
    </body>
    {{> partials/scripts}}
</html>