<!--  Open Graph Tags -->
<meta property="og:title" content="Tecnalia">
<meta property="og:description" content="{{description}}">
<meta property="og:image" content="http://thetheme.io/thesaas/img/og-img.jpg">
<meta property="og:url" content="http://thetheme.io/thesaas/">
<meta name="twitter:card" content="summary_large_image">

<!-- add sitelink info -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "https://www.example.com/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://query.example.com/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

<!-- add corporate info -->
<script type="application/ld+json"> {
	"@context": "http://schema.org",
	"@type": "Organization",
	"image": [
		"https://example.com/photos/1x1/photo.jpg",
		"https://example.com/photos/4x3/photo.jpg",
		"https://example.com/photos/16x9/photo.jpg"
	],
	"@id": "http://daveshouseofyoga.example.com/",
	"name": "Tecnalia",
	"legalName": "Tecnalia",
	"url": "http://www.example.com/restaurant-locations/manhattan",
	"logo": "http://cdn.elite-strategies.com/wp-content/uploads/2013/04/elitestrategies.png",
	"foundingDate": "2009",
	"founders": [{
			"@type": "Person",
			"name": "Patrick Coombe"
		},
		{
			"@type": "Person",
			"name": ""
		}
	],
	"address": {
		"@type": "PostalAddress",
		"streetAddress": "3986 Rivermark Pkwy",
		"addressLocality": "Santa Clara",
		"addressRegion": "CA",
		"postalCode": "95054",
		"addressCountry": "US"
	},
	"geo": {
		"@type": "GeoCoordinates",
		"latitude": 37.3952149,
		"longitude": -121.9474023
	},
	"telephone": "+14085551135",
	"contactPoint": {
		"@type": "ContactPoint",
		"contactType": "customer support",
		"telephone": "[+561-526-8457]",
		"email": "info@elite-strategies.com"
	},
	"potentialAction": {
		"@type": "ReserveAction",
		"target": {
			"@type": "EntryPoint",
			"urlTemplate": "https://www.example.com/reserve?merchantId=20373",
			"inLanguage": "en-US",
			"actionPlatform": [
				"http://schema.org/DesktopWebPlatform",
				"http://schema.org/IOSPlatform",
				"http://schema.org/AndroidPlatform"
			]
		},
		"result": {
			"@type": "Reservation",
			"name": "Book a class"
		}
	},
	"openingHoursSpecification": [{
			"@type": "OpeningHoursSpecification",
			"dayOfWeek": [
				"Monday",
				"Tuesday"
			],
			"opens": "11:30",
			"closes": "22:00"
		},
		{
			"@type": "OpeningHoursSpecification",
			"dayOfWeek": [
				"Wednesday",
				"Thursday",
				"Friday"
			],
			"opens": "11:30",
			"closes": "23:00"
		},
		{
			"@type": "OpeningHoursSpecification",
			"dayOfWeek": "Saturday",
			"opens": "16:00",
			"closes": "23:00"
		},
		{
			"@type": "OpeningHoursSpecification",
			"dayOfWeek": "Sunday",
			"opens": "16:00",
			"closes": "22:00"
		}
	],
	"sameAs": [
		"http://www.freebase.com/m/0_h96pq",
		"http://www.facebook.com/elitestrategies",
		"http://www.twitter.com/delraybeachseo",
		"http://pinterest.com/elitestrategies/",
		"http://elitestrategies.tumblr.com/",
		"http://www.linkedin.com/company/elite-strategies",
		"https://plus.google.com/106661773120082093538"
	]
	}
</script>
				