<!DOCTYPE html>
<html lang="en">
	{{> partials/head}}
    <body>
        <div class="wrapper">
            {{ > partials/ui/page-header}}
            <div class="main-panel">
                {{> partials/ui/navbar-profile}}
                <div class="content">
                    {{> page/index }}
                </div>
                {{> partials/ui/footer}}
            </div>
        </div>
        {{> partials/scripts}}
    </body>
</html>