<div class="section">
    <div class="container">
        <div class="button-container">
            <a href="{{presentation}}" class="btn btn-primary btn-round btn-lg">Follow</a>
            <a href="{{presentation}}" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="{{presentation}}" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
        <h3 class="title">About me</h3>
        <h5 class="description">User of the certificates blockchain</h5>

        <div class="row">
            <div class="card">
                <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="green">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#certificatesHistory" role="tab">Registro de Certificados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#accessHistory" role="tab">Registro de accesos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#certificateManager" role="tab">Gestionar certificado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#createCertificate" role="tab">Crear certificado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#checkCertificate" role="tab">Comprobar certificado</a>
                    </li>
                </ul>
                <div class="card-body">
                    <!-- Tab panes -->
                    <style type="text/css"> #toolong {word-break: break-all;} </style>
                    <div class="tab-content text-center">
                        <div class="tab-pane" id="certificatesHistory" role="tabpanel">
                            <table id="tableCert" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Hash</th>
                                        <th>Issuer Address</th>
                                        <th>Type</th>
                                        <th>Title</th>
                                        <th>Issued</th>
                                        <th>Expiration</th>
                                        <th>Valid</th>                                        
                                    </tr>
                                    <tr>
                                        <td id="toolong">0xd25a9fcd615b862bccc182a1e5a8522a1064b5d62c6459d4c3c4becee0824783</td>
                                        <td id="toolong">0x627306090abaB3A6e1400e9345bC60c78a8BEf57</td>
                                        <td>Tíulo universitario</td>
                                        <td>Grado en Ingeniería en Tecnologías de Telecomunicación</td>
                                        <td>20/04/2015</td>
                                        <td>20/04/2018</td>
                                        <td>
                                            <button class="btn btn-success btn-icon btn-round">
                                                <i class="now-ui-icons ui-1_check"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody id="logCert"/>
                            </table>
                        </div>
                        <div class="tab-pane" id="accessHistory" role="tabpanel">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Title Hash</th>
                                        <th>User Address</th>
                                    </tr>
                                    <tr>
                                        <td>16/03/1994</td>
                                        <td>22:22</td>
                                        <td>0x6e54h876pma271wa64134133d87f954f8afw756</td>
                                        <td>0x627306090abaB3A6e1400e9345bC60c78a8BEf57</td>
                                    </tr>
                                </thead>
                                <tbody id="logHistory"/>
                            </table>
                        </div>

                        <div class="tab-pane" id="certificateManager" role="tabpanel">
                            <p>Add address to white list</p>
                            <div class="row justify-content-center">
                                <div class="col-sm-6 col-lg-5">
                                    <div class="form-group">
                                        <input id="whiteList" type="text" value="" placeholder="Tittle Hash" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-5">
                                    <div class="form-group">
                                        <input id="allowed" type="text" value="" placeholder="Address" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <button id="btnAdd" class="btn btn-primary btn-round" type="button">Add</button>    
                            </div>
                        </div>

                        <div class="tab-pane" id="createCertificate" role="tabpanel">
                            </br>
                            <div id="newCert" class="row justify-content-center">
                                <div class="col-sm-6 col-lg-5">
                                    <div class="form-group">
                                        <input id="owner" type="text" value="" placeholder="Owner Address" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-5">
                                    <div class="form-group">
                                        <input id="duration" type="text" value="" placeholder="Duration (seconds)" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">   
                                <div class="col-sm-6 col-lg-10">
                                    <div class="form-group">
                                        <input id="certType" type="text" value="" placeholder="Type of certificate" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">   
                                <div class="col-sm-6 col-lg-10">
                                    <div class="form-group">
                                        <input id="certName" type="text" value="" placeholder="Title Name" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <button id="btnSend" class="btn btn-primary btn-round" type="button">Send</button>    
                            </div>   
                        </div>

                        <div id="checkCertificate" class="tab-pane active" role="tabpanel">
                            </br>
                            <div class="row justify-content-center">
                                <div class="col-sm-6 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="certHash" value="" placeholder="Certificate Hash" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <button id="btnCheck" class="btn btn-primary btn-round" type="button">Check</button>    
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--div class="row">
            <div class="card">
                <div class="header">
                    <h4 class="title">Registro de transacciones</h4>
                    <p class="category">Transacciones de <tt>Electric Charching Point 5</tt></p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Matricula</th>
                                <th>Minutos</th>
                                <th>Timestamp</th>
                                <th>Tokens</th>
                                <th>Tipo</th>
                            </tr>
                        </thead>
                        <tbody id="logbody"/>
                    </table>
                </div>
            </div>
        </div-->

        <!--div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <h4 class="title text-center">My Certificates</h4>
                <div class="nav-align-center">
                    <ul class="nav nav-pills nav-pills-primary" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#certificatesHistory" role="tablist">
                                <i class="now-ui-icons files_single-copy-04"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#accessHistory" role="tablist">
                                <i class="now-ui-icons design_bullet-list-67"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#messages" role="tablist">
                                <i class="now-ui-icons sport_user-run"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tab-content gallery">
                <div class="tab-pane active" id="certificatesHistory" role="tabpanel">
                    <div class="col-md-10 ml-auto mr-auto">
                        <div class="row collections">
                            <div class="col-md-6">
                                <img src="../img/bg1.jpg" alt="" class="img-raised">
                                <img src="../img/bg3.jpg" alt="" class="img-raised">
                            </div>
                            <div class="col-md-6">
                                <img src="../img/bg8.jpg" alt="" class="img-raised">
                                <img src="../img/bg7.jpg" alt="" class="img-raised">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="accessHistory" role="tabpanel">
                    <div class="col-md-10 ml-auto mr-auto">
                        <div class="row collections">
                            <div class="col-md-6">
                                <img src="../img/bg6.jpg" class="img-raised">
                                <img src="../img/bg11.jpg" alt="" class="img-raised">
                            </div>
                            <div class="col-md-6">
                                <img src="../img/bg7.jpg" alt="" class="img-raised">
                                <img src="../img/bg8.jpg" alt="" class="img-raised">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="messages" role="tabpanel">
                    <div class="col-md-10 ml-auto mr-auto">
                        <div class="row collections">
                            <div class="col-md-6">
                                <img src="../img/bg3.jpg" alt="" class="img-raised">
                                <img src="../img/bg8.jpg" alt="" class="img-raised">
                            </div>
                            <div class="col-md-6">
                                <img src="../img/bg7.jpg" alt="" class="img-raised">
                                <img src="../img/bg6.jpg" class="img-raised">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div-->
    </div>
</div>